* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ccc;
    --primary-bg-color: #313131;	
}

body {
    background-color: var(--primary-bg-color);
    color: var(--primary-color);
    padding: 1rem;
}

body > div {
    margin-top: 1rem;
}

.form-container,
.list-container {
    text-align: center;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    background-color: #575757;
    padding: 1rem 2rem;
}


.form-container form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form-control {
    padding: 4px 8px;
}


.list-item {
    list-style: none;
    padding: 15px 10px;
    background-color: #707070;
    border: 3px solid var(--primary-color);
    border-radius: 10px;
    font-weight: bold;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list-item div {
    display: flex;
    gap: 20px;
}

.bg-blue, .bg-red {
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    color: white;
    font-weight: bold;
}

.bg-blue{
    background-color: #1f7df7;
}

.bg-red{
    background-color: #ee3d3d;
}